*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color:#202020;
    display : flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.main{
 width : 600px;
 height : 250px;
 background-color: #121212;
 display: flex;
 align-items: center;
 flex-direction: column;
 gap : 20px;
 border-radius: 40px;
padding: 20px;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
margin : 30px;
gap : 30px;
transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.main:hover{
    transform: scale(1.02);
    box-shadow: 0 12px 25px rgba(0,0,0,0.3);
}
.main h1{
    color: white;
    text-align: center;
}
p{
    color : white;
}
.search-form{
    display : flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap : 10px;
}
#search-bar{
    width : 375px;
    border-radius : 20px;
    padding : 10px;
    border : none;
    background-color: white;
}
button{
    background-color: #39FF14;
    color : #121212;
    border-radius: 20px;
    width : 124px;
    height : 40px;
}
button :hover{
    background-color: #30D810;
    cursor: pointer;
}